.navbar-brand{
    justify-content: center;
    font-size: xx-large;
}

.leftCol{
float: left;
background: #86aaec;
width: 25%;
}

.rightCol{
    float: right;
    background:#86aaec;
    width: 75%
}

